@font-face {
    font-family: 'Colby';
    src: url('Colby-StMedIt.eot');
    src: local('Colby Medium Italic'), local('Colby-StMedIt'),
        url('Colby-StMedIt.eot?#iefix') format('embedded-opentype'),
        url('Colby-StMedIt.woff2') format('woff2'),
        url('Colby-StMedIt.woff') format('woff'),
        url('Colby-StMedIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StBlk.eot');
    src: local('Colby Black'), local('Colby-StBlk'),
        url('Colby-StBlk.eot?#iefix') format('embedded-opentype'),
        url('Colby-StBlk.woff2') format('woff2'),
        url('Colby-StBlk.woff') format('woff'),
        url('Colby-StBlk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StLt.eot');
    src: local('Colby Light'), local('Colby-StLt'),
        url('Colby-StLt.eot?#iefix') format('embedded-opentype'),
        url('Colby-StLt.woff2') format('woff2'),
        url('Colby-StLt.woff') format('woff'),
        url('Colby-StLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StBld.eot');
    src: local('Colby Bold'), local('Colby-StBld'),
        url('Colby-StBld.eot?#iefix') format('embedded-opentype'),
        url('Colby-StBld.woff2') format('woff2'),
        url('Colby-StBld.woff') format('woff'),
        url('Colby-StBld.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Colby Extra';
    src: url('Colby-StExtLt.eot');
    src: local('Colby Extra Light'), local('Colby-StExtLt'),
        url('Colby-StExtLt.eot?#iefix') format('embedded-opentype'),
        url('Colby-StExtLt.woff2') format('woff2'),
        url('Colby-StExtLt.woff') format('woff'),
        url('Colby-StExtLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StBldIt.eot');
    src: local('Colby Bold Italic'), local('Colby-StBldIt'),
        url('Colby-StBldIt.eot?#iefix') format('embedded-opentype'),
        url('Colby-StBldIt.woff2') format('woff2'),
        url('Colby-StBldIt.woff') format('woff'),
        url('Colby-StBldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StMed.eot');
    src: local('Colby Medium'), local('Colby-StMed'),
        url('Colby-StMed.eot?#iefix') format('embedded-opentype'),
        url('Colby-StMed.woff2') format('woff2'),
        url('Colby-StMed.woff') format('woff'),
        url('Colby-StMed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StRegIt.eot');
    src: local('Colby Italic'), local('Colby-StRegIt'),
        url('Colby-StRegIt.eot?#iefix') format('embedded-opentype'),
        url('Colby-StRegIt.woff2') format('woff2'),
        url('Colby-StRegIt.woff') format('woff'),
        url('Colby-StRegIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StReg.eot');
    src: local('Colby'), local('Colby-StReg'),
        url('Colby-StReg.eot?#iefix') format('embedded-opentype'),
        url('Colby-StReg.woff2') format('woff2'),
        url('Colby-StReg.woff') format('woff'),
        url('Colby-StReg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Colby Extra';
    src: url('Colby-StExtLtIt.eot');
    src: local('Colby Extra Light Italic'), local('Colby-StExtLtIt'),
        url('Colby-StExtLtIt.eot?#iefix') format('embedded-opentype'),
        url('Colby-StExtLtIt.woff2') format('woff2'),
        url('Colby-StExtLtIt.woff') format('woff'),
        url('Colby-StExtLtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StBlkIt.eot');
    src: local('Colby Black Italic'), local('Colby-StBlkIt'),
        url('Colby-StBlkIt.eot?#iefix') format('embedded-opentype'),
        url('Colby-StBlkIt.woff2') format('woff2'),
        url('Colby-StBlkIt.woff') format('woff'),
        url('Colby-StBlkIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Colby';
    src: url('Colby-StLtIt.eot');
    src: local('Colby Light Italic'), local('Colby-StLtIt'),
        url('Colby-StLtIt.eot?#iefix') format('embedded-opentype'),
        url('Colby-StLtIt.woff2') format('woff2'),
        url('Colby-StLtIt.woff') format('woff'),
        url('Colby-StLtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

